
  @media screen and (max-width:760px){
    .hero{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .table-mobile{
      max-width: 480px;
    }
  }
